<style > 

body {
    background-color: #D8D8D8;
}

html { 
    background: url(../I/Plain1.jpg) no-repeat center center fixed #000; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    font: 25px lucida handwriting;
    color: blue;
    text-align: center;
}

p {
    font: 16px lucida handwriting;
    color: black;
    text-align: center;
}

.txtBoxesOrange {
    background: white;
    border: 1px solid #ffa853;
    border-radius: 5px;
    box-shadow: 0 0 5px 3px #ffa853;
    color: #666;
    width: 295px;
    height:32px;
    outline: none;
   
}

.signUp_button {
    padding: 5px;
    background-color: #529ECC;
    border: 1px solid #ffa853;
    box-shadow: 0 0 5px 3px #FFF;
    border-radius: 5px;
    border: 1px solid #666;
    color: #FFF;
   width: 295px;
    height:32px;
    text-decoration: none;
}

.txtBoxes {
    background: white;
    border: 1px double #DDD;
    border-radius: 5px;
    box-shadow: 0 0 5px #333;
    color: #666;
    width: 165px;
    outline: none;
}

.buttonCSS {
    padding: 5px;
    background-color: #529ECC;
    border: 1px solid #666;
    color: #FFF;
    width: 250px;
    height:40px;
    text-decoration: none;
}

.pad {
    padding-top:120px;
     padding-left:600px;
    text-align:center;
    
    color:white;
}